
:root {
	--primary-bold: white;
	--primary-light: black;
	--primary-radius: 15px;
}

.app-global {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
	background-color: var(--primary-light);
	color: var(--primary-bold);
}

.logo {
	font-size: 1.5em;
	font-weight: bold;
}

.user-picture {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--primary-bold);
}

.button {
	border-width: 1px;
	border-color: var(--primary-bold);
	color: var(--primary-bold);
	background-color: var(--primary-light);
	padding: 5px;
}

.button:hover {
	color: red;
}

.button.delete {
	background-color: red;
}

.button.delete:hover {
	color: black;
}

.border-margin {
	border-width: 1px;
	border-color: var(--primary-light);
	border-style: solid;
	margin: 2em;
}

.tab {
	border-width: 2px;
	border-color: var(--primary-light);
}

.tab.live {
	border-style: solid solid none solid;
	border-radius: var(--primary-radius) var(--primary-radius) 0 0;

}

.tab.dead {
	border-style: solid;
	border-radius: var(--primary-radius) var(--primary-radius) 0 0;

}

.tab.bottom {
	border-style: none solid solid solid;
}

.public-list {
	background-color: var(--primary-light);
	color: var(--primary-bold);
}