
:root {
	--primary-bold: blue;
	--primary-light: lightblue;
}

.app-global {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
	background-color: var(--primary-light);
	color: var(--primary-bold);
}

.logo {
	font-size: 1.5em;
	font-weight: bold;
}

.user-picture {
	height: 40px;
	width: 40px;
	border-radius: 20px;
}

.button {
	border-width: 1px;
	border-color: var(--primary-bold);
	color: var(--primary-bold);
	background-color: var(--primary-light);
	height: 36px;
}

.public-list {
	background-color: var(--primary-light);
	color: var(--primary-bold);
}